
.messageBubleFromUser {
    background-color: var(--bg-color-own) !important;
}

.messageBuble {
    background-color: var(--bg-color-1);
    padding: 0.3125rem 0.5rem 0.375rem;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}

.uniqueBorderRadius {
    border-radius: var(--border-radius);
}

.firstBorderRadiusLeft,
.middleBorderRadiusLeft, 
.lastBorderRadiusLeft 
{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.firstBorderRadiusRight,
.middleBorderRadiusRight, 
.lastBorderRadiusRight 
{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.firstBorderRadiusLeft {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius-small);
}

.firstBorderRadiusRight {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius-small) !important;
}

.middleBorderRadiusLeft {
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
}

.middleBorderRadiusRight {
    border-top-right-radius: var(--border-radius-small) !important;
    border-bottom-right-radius: var(--border-radius-small) !important;
}

.lastBorderRadiusLeft {
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: 0;

}

.lastBorderRadiusRight {
    border-top-right-radius: var(--border-radius-small) !important;
    border-bottom-right-radius: 0 !important;
}

.username {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem
}

.messageContent {
    font-size: 1rem;
    margin: 0;
    line-height: 1.3125;
    /* TODO: fix this temporary padding solution */
    padding-right: 40px; 
}

.messageTime {
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
}

.messageTime span {
    font-size: .75rem;
    line-height: 1.35;
    color: rgba(var(--gray-7), 0.75);
}

.messageBubleFromUser .messageTime span {
    color: var(--own-message-info);
}

.bottomCurvedIconBase {
    position: absolute;
    bottom: -0.45rem;
}

.bottomCurvedIconLeft {
    left: -0.5rem;
}

.bottomCurvedIconRight {
    right: -0.5rem;
}