

.header {
    background: var(--bg-color-1);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px var(--color-light-shadow);
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.54rem;
    padding-right: 0.8125rem;
}

.headerBtnContainer {
    height: 100%;
    display: flex;
    align-items: center;
}