
.header {
    background: var(--bg-color-1);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px var(--color-light-shadow);
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.54rem;
    padding-right: 0.8125rem;
}

.headerInfoContainer {
    display: flex;
}

.headerInfoImgContainer {
    width: calc(var(--header-height) * 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfoImgContainer img {
    border-radius: 50%;
    width: 80%;
    object-fit: cover;
    margin-right: 0.625rem
}

.headerBtnContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerInfoBodyContainer {
    width: 80%;
    padding-right: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerInfoBodyContainer {
    width: 80%;
    padding-right: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerInfoBodyHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerInfoBodyHeader h1 {
    font-size: 1.125rem;
    font-weight: 500;
}

.headerInfoBodyContent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.headerInfoBodyContent p {
    font-size: .875rem;
    color: var(--text-color-2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 0;
}