
.MessageInputFieldContainer {
    width: 100%;
    max-height: 50vh;
    min-height: var(--message-input-field-height);
    background-color: var(--bg-color-1);
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.MessageInputBtnWrapper {
    height: var(--message-input-field-height);
    width: var(--message-input-field-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MessageInputFieldWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: text;
    display: flex;
    align-items: center;
}

.MessageInputFieldContentEditable {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    position: relative;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 1.15rem 0;
    box-sizing: border-box;
}

.MessageInputFieldPlaceholderWrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.MessageInputFieldPlaceholderColor {
    color: var(--placeholder-color);
}

.MessageInputFieldIconWrapper {
    position: absolute;
    transform: scaleX(-1);
    right: -0.53125rem;
    bottom: -0.4375rem;
}