
:root {
  --header-height: 60px;
  --blue: #3390EC;
  --light-gray: #F4F4F5;
  --gray: #BCBABC;
  --gray-2: 112, 117, 121;
  --gray-3: #686c72;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.light {
  --bg-color-1: white;
  --bg-color-2: #A2AF8E;
  --bg-color-3: var(--blue);
  --font-color-1: #B2B5B7;
  --highlight-color: var(--blue);
  --bg-input: var(--light-gray);
  --bg-hover: var(--light-gray);
  --text-color-1: var(--gray-3);
  --text-color-2: rgb(var(--gray-2));
  --text-color-3: white;
  --animation-speed: 150ms;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
}

@keyframes rotating {
  from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}