
:root {
  --header-height: 60px;
  --blue: #3390EC;
  --light-gray: #F4F4F5;
  --gray: #BCBABC;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.light {
  --bg-color-1: white;
  --bg-color-2: #A2AF8E;
}
