

.mainContent {
    background: var(--bg-color-2);
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}